* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(230, 229, 229);
}
.container {
  margin: 15px;
}
header {
  background: rgb(216, 40, 40);
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.produto {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 30px;
  margin: 10px 0px;
}
h4 {
  font-size: 20px;
  margin: 7px 0px;
}
p {
  margin: 7px 0px;
}
img {
  width: 130px;
  border-radius: 5px;
  float: right;
}
